!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"http-equiv" => "X-UA-Compatible", content:"IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Mesin | A modular Rails 5 application
    = stylesheet_link_tag    "mesin/application", media: "all"
    = csrf_meta_tags
  %body
    .container
      = yield
    = javascript_include_tag "mesin/application"
